[submodule "third_party/JiT"]
	path = third_party/JiT
	url = https://github.com/LTH14/JiT.git
[submodule "third_party/DeCo"]
	path = third_party/DeCo
	url = https://github.com/Zehong-Ma/DeCo.git

[submodule "third_party/PixelDiT"]
	path = third_party/PixelDiT
	url = https://github.com/NVlabs/PixelDiT.git
[submodule "third_party/PixelGen"]
	path = third_party/PixelGen
	url = https://github.com/Zehong-Ma/PixelGen.git
